{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Headhunter{% endblock %}</title>
</head>
<body>
<div class="head-line"></div>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="logo" src="{% static 'img/hh-logo.svg' %}"
                 alt="logo">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav align-items-center">
                {#                <li class="nav_item search_form">#}
                {#                    <form action="{% url 'account_search' %}" method="GET">#}
                {#                        {% csrf_token %}#}
                {#                        <input class="input_search" placeholder="Search" name="search" type="text">#}
                {#                        <input hidden="hidden" type="submit" value="Поиск">#}
                {#                    </form>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a href="{% url 'post_create' %}">#}
                {#                        <img src="{% static 'img/plus-square.svg' %}" alt="#" class="add_post_logo">#}
                {#                    </a>#}
                {#                </li>#}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'profile' account.pk %}" class="nav-link account-logo">
                        </a>
                    </li>
                    <li class="nav-item ml-2">
                        <a href="{% url 'logout' %}" class="nav-link log-out">
                            Выход
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="base-login">
                            Войти
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>