.form-log {
    width: 480px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-register {
    width: 400px;
    height: 550px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 290px;
    height: 40px;
}

.form {
    float: left;
}

.login-btn {
    color: white;
    background-color: #1685e5;
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 38px;
    font-size: 15px;
    clear: both;
}

.login-img {
    background-image: url(../img/login-img.svg);
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

select[name=type] {
    height: 40px;
    width: 200px;
    font-size: 1rem;
    color: gray;
}
