.form-log {
    width: 480px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-register {
    width: 400px;
    height: 550px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 290px;
    height: 40px;
}

.form {
    float: left;
}

.login-btn {
    color: white;
    background-color: #1685e5;
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 38px;
    font-size: 15px;
    clear: both;
}

.login-img {
    background-image: url(../img/login-img.svg);
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

select[name=type] {
    height: 40px;
    width: 200px;
    font-size: 1rem;
    color: gray;
}

.navbar {
    background-color: #222324 !important;
    height: 80px;
    padding: 0 0;
}

.head-line {
    height: 40px;
}

.logo {
    height: 50px;
    width: 50px;
}

.base-login {
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 12px;
    border-radius: 25px;
    color: white;
}

.base-login:hover {
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

.account-logo {
    background-image: url("../img/profile.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0 0;
    vertical-align: middle;
    border: 0;
    outline: none;
    text-decoration: none;
}

.account-logo:hover {
    background-position: 1110 0;
}

.log-out {
    color: white;
}

.log-out:hover {
    color: dodgerblue;
}

