{% extends 'base.html' %}
{% load static %}
{% block title %}
    Просмотр страницы пользователя
{% endblock %}
{% block content %}
    {#    <div class="d-flex justify-content-end mt-2">#}
    {#        <button class="btn btn-primary btn-sm" id="myModal" type="button">Редактировать профиль</button>#}
    {#    </div>#}
    <div class="mt-3">
        <div class="mb-4 d-flex align-items-center justify-content-center">
            <div class="acc-img">
                {% if account.avatar %}
                    <img src="{{ account.avatar.url }}" alt="avatar" height="150" width="150">
                {% else %}
                    <img src="https://via.placeholder.com/150x150" alt="image" height="150"
                         width="150">
                {% endif %}
            </div>
            <div class="d-inline-block">
                <h5 class="d-inline ml-4">{{ account.first_name }} {{ account.last_name }}</h5>
            </div>
        </div>
    </div>
    {% if request.user.pk == account.pk %}
        <div class="resume-list mt-5">
            {% if resumes %}
                <h5>Мои резюме:</h5>
                {% for resume in resumes %}
                    <div class="mb-3">
                        <h6 class="d-inline">Название резюме:
                            <a href="{% url 'resume_detail' resume.pk %}">{{ resume.title }}</a>
                        </h6>
                        <p class="mb-0">Обновлено: {{ resume.updated_at }}</p>
                        <form class="d-inline" action="{% url 'resume_update_date' resume.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm mr-3 mt-2">Обновить</button>
                        </form>
                        <a class="btn btn-primary btn-sm mt-2"
                           href="{% url 'resume_edit' resume.pk %}">Редактировать</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас пока нет резюме.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}